.header {
    height: 70px;
    width: 100%;
    background: linear-gradient(180deg, #ffffff 0%, #eeeeee 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 100;

    a {
      text-decoration: none;
      color: black;
    }
  
    .logo-container img{
      height: 50px;
      width: 50px;
      padding: 5px 15px;
      margin-left: 10px;
      cursor: pointer;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 5px 15px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
  